h1{
    text-align: center;
}
body{
    padding-left: 16%;
    padding-right: 16%;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
.dropbtn {
    background-color: steelblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px steelblue;
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 10px 18px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: steelblue;
}
colorid{
    background-color: lightsteelblue;
}
a{
    color: black;
}

ol {
    list-style: none;
    counter-reset: steps;
}
ol li {
    counter-increment: steps;
}
ol li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: #ff6f00;
    color: white;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1.2em;
}
ol ol li::before {
    background: darkorchid;
}

.autocomplete-suggestions { border: 1px solid #999; background: darkslategrey; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: darkcyan; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.container {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.autocomplete-searchbox {
    height: 50px;
    width: 600px;

}

/*input:-webkit-autofill,*/
/*textarea:-webkit-autofill,*/
/*select:-webkit-autofill {*/
/*    -webkit-box-shadow: 0 0 0 1000px #1b1b1b inset !important;*/
/*    -webkit-text-fill-color: blue !important;*/
/*}*/